body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}
.gallery {
    height: 150px;
    width: 200px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #ffbf00;
    border-radius: 4px;
    transition: 0.5s;
    -webkit-box-reflect: below 4px linear-gradient(transparent, transparent, #00000059);
}
img:hover {
    transform: scale(1.1);
}
.btn-container {
    display: flex;
    gap: 200px;
    margin: 20px;
    
}
button {
    padding: 5px 25px;
    background-color: red;
    color: white;
    outline: none;
    border-radius: 2px;
    border: 1px solid teal;
    cursor: pointer;
    transition: 0.5s;
    text-shadow: 1px 2px 3px black;
    -webkit-box-reflect: below 4px linear-gradient(transparent, #0000005b);
    margin-top: 50px;
}
button:hover {
    background-color: navy;
}